@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

body {
  font-family: 'McLaren', sans-serif;
}

header {
  color: white;
  margin: -16px;
  font-weight: 200;
  padding: 16px 32px;
  background-color: #f5ba13;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
}

.note {
  border-radius: 7px;
  background-color: green;
  box-shadow: 0 2px 5px #ccc;
  width: 240px;
  padding: 16px 32px;
  margin: 32px;
  float: left;
  position: relative;
}

.note h1 {
  color: black;
  margin: 0;
}

.note p {
  color: white;
  margin-bottom: 6px; 
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  color: #ccc;
  width: 100%;
  height: 2.5rem;
  text-align: center; 
}
